/* nav */
.nav{
  /* width: 80%;  */
  padding: 0 8%;
  margin: auto; 
  /* border:1px solid red; */
 /* background: #2C3E50;  /* fallback for old browsers */
 /* background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
 background: #0F2027;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

}

/* design left nav */
.grid-nav-left{
  font-size: 30px;
  font-family: 'Aladin';
}

.grid-nav-left a{
  text-decoration: none;
  color: #ffffff;
}

/* design right nav */
.grid-nav-right{
  font-size: 20px;
  text-align: right;
}

.grid-nav-right a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Amaranth';
}

.menu-distance{
  margin-right: 20px;
}

/* home */
.home-grid{
  text-align: center;
}