/* home page */
.home-avatar{
    height: 400px;
    text-align: center;
}

.hr-design {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border : 0;
    height: 20px; 
    background-image: linear-gradient(to right, rgba(0, 1, 2, 3), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border-radius: 25px;
}

/* about me*/
.about-me-left-div{
    /* height: 600px; */
    margin: auto;
    background-color: #2C5364;
    border-radius: 200px 200px 0px 0px;
    text-align: center;
    color: white;
}
.about-me-cell{
    font-size:20px; 
    margin-top:10px;
    font-family:Black Han Sans;
    margin: auto; 
    border:0px solid blueviolet;
}
.about-me-details{
    font-family: Caveat Brush;
    float: right;
    color: cornsilk;
}

.aboutme-heading{
    position: relative; 
    width:90%; 
    border-radius:20px 0px 0px 20px;
    background: black; 
    margin-left:20px; 
    margin-right:10px; 
    color:white;
    text-align: center;
    margin-top: 20px;
}
.aboutme-description{
    font-family: 'Amarante';
    text-align: justify;
    color: wheat;
}
    
    

